each item in data.items
  li
    .li-left-container
      a(href='https://www.youtube.com/playlist?list=' + item.id.playlistId)
        img(src=item.snippet.thumbnails.default.url)
    .li-right-container
      h3
        a(href='https://www.youtube.com/playlist?list=' + item.id.playlistId)= item.snippet.title
      .by= 'by :'+ item.snippet.channelTitle
      .pubDate= 'Published on: ' + new Date(item.snippet.publishedAt).toISOString().slice(0, 10)
      .desc= item.snippet.description